@model IEnumerable<StudentManagement.Models.Entities.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GradeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GradeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GradeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
